
// .wrapper {
//   background-color: grey;
//   padding: 50px auto;
// }

.restaurant-card {
  padding: 10px;
  border: 1px solid black;
}

.details {
  padding: 10px;
  border: 1px solid black;
}

.form {
 padding: 10px;
 border: 1px solid black;
}
.btn {
  margin: 25px;
}


body {
  font-family: "Maven Pro";
  text-decoration: none;
}

h1 {
  font-size: 42px;
  margin: 20px;
  text-align: center;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}

.add {
  background-color: blue;
  margin: 50px;
}

.add-form {
  padding: 20px 20px
}

.CTA {
  background-color: #E7E6E7;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 50px;
}

.container {
  margin-top: 25px;
  margin-bottom: 50px;
}

.cta btn btn-primary {
color: #3E9B4D;
}

#headline {
  box-shadow: inset 0px -14px #F46036;
  text-align: center;
  position: relative;
  width: 30%;
}

.card-description h2 {
  color: white;
  text-decoration: none;
}

// .signup {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   padding: 20px;
// }

// .left {
//   background-color: #ff9e2c;
//   position: absolute;
//   left: 0px;
//   width: 50%;
// }

// .right {
//   background-color: #b6701e;
//   position: absolute;
//   right: 0px;
//   width: 50%;
// }
